<div class="content-main" ng-controller="TodoList as list">
  <div id="groupActions">
    <span class="col-md-1">
      <button class="multiSel" type="button" 
       ng-class="{selected : list.selectAll}" 
       ng-click="list.toggleSelectAll()"></button>
    </span>
    <span  ng-show="list.selectedItems.length > 0">
      <button class="groupActionButton" type="button" ng-click="list.deleteSelected()">Delete Selected</button>
      <button class="groupActionButton" type="button" ng-click="list.completeSelected()">Mark Complete</button>
    </span>
    <span class="headerGroup">
      <select value="'DueDate'" 
        ng-model="list.sortBy"
        ng-options="option as option.name for option in list.sortOptions">
      </select>
    </span>
    <span class="headerGroup">
      <input type="checkbox" id="showCompleted" ng-model="list.showAll"></input>
      <label for="showCompleted" >Show Completed?</label>
    </span>
  </div>

  <div class="todoList">
    <todo-item
      ng-show="list.showAll || !item.Completed"
     ng-repeat="item in list.todos | orderBy: list.parseDate : list.sortBy.value" 
     todo-data="item" 
     on-delete="list.deleteItem(item)"
     on-edit="list.editItem(item)"
     on-complete="list.completeItem(completed, item)"
     on-select="list.itemSelect(checked, item)"
     checked="list.selectAll">
     </todo-item>
     <div class="center" ng-show="list.todos.length === 0">
     No items available! Hit the button below to start creating items.
     <br />
     <br />
     </div>
  </div>
  <button type="button" id="addButton" class="center" ng-click="list.addItem()" autofocus="autofocus">
    <span id="center">
      +
    </span>
  </button>
</div>