<div class="content-main" ng-controller="TodoList as list">
  <div class="header">
    <input type="checkbox" ng-model="list.selectAll" ng-click="list.toggleSelectAll()">
        <!-- .squaredOne -->
       <!--  <div class="squaredOne">
          <input type="checkbox" value="None" id="squaredOne" name="check" checked />
          <label for="squaredOne"></label>
        </div> -->
        <!-- end .squaredOne -->
    <span ng-show="list.selectedItems.length > 0">
      <button type="button" ng-click="list.deleteSelected()">Delete Selected</button>
      <button type="button" ng-click="list.completeSelcted()">Mark complete</button>
    </span>
    <select>
      <option>Sort by due (newest first)</option>
      <option>Sort by due (oldest first)</option>
    </select>
  </div>
  {{list.selectAll.val}}
  <div class="todoList">
     <todo-item ng-repeat="item in list.todos" todo-data="item" on-delete="list.deleteItem(item)"
     on-update="list.updateItem(item)"
     on-complete="list.completeItem(item)"
     on-select="list.itemSelect(checked, item )"
     checked="list.selectAll">
     </todo-item>
  </div>
  <button type="button" class="center" ng-click="list.addItem()">+</button>
</div>