body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.content-main {
  width :  590px;
}

todo-item .container {
  border: 1px solid black;
  border-radius: 4px;
  margin: 2px;
  padding: 2px;
}

todo-item .delete {
  float: right;
}

.center {
  display: block;
  margin: 0 auto;
}