<div class="modal-header">
  <h4 class="modal-title">Create a new task</h4>
</div>
<div class="modal-body">
<form name="signup_form" ng-submit="newTodo.save()" novalidate>
  <fieldset>
      <div class="control-group" 
        ng-class="{'has-error' : signup_form.description.$touched && signup_form.description.$invalid}">
        <label for="description">Description:</label>
        <input type="text" 
          class="form-control input-sm"
          placeholder="Send email to Bob" 
          name="description" 
          ng-model="newTodo.description" 
          required />
          <label
            ng-show="signup_form.description.$touched && signup_form.description.$invalid"
            class="control-label" for="description">Description required</label>
      </div>
  </fieldset>
  <div class="control-group" 
    ng-class="{'has-error' : signup_form.due.$touched && signup_form.due.$invalid}">
    <label for="due">Due:</label>
    <p class="input-group">
        <input type="text" 
          name="due"
          class="form-control" 
          datepicker-popup="{{newTodo.cal.format}}"
          ng-model="newTodo.cal.selected"
          is-open="newTodo.cal.opened"
          min-date="newTodo.cal.today"
          datepicker-options="newTodo.cal.options"
          ng-required="true"
          close-text="Close"
          format="MM dd yyyy" 
          required/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" 
            ng-click="newTodo.cal.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
      <label ng-show="signup_form.due.$touched && signup_form.due.$invalid" 
        class="control-label" 
        for="due">Valid date required</label>
  </div> <!-- control group for due date -->
</form>
</div> <!-- modal body -->
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="newTodo.save()">Save</button>
    <button class="btn btn-warning" ng-click="newTodo.cancel()">Cancel</button>
</div>