<div class="modal-header">
  <h4 class="modal-title">Create a new task</h4>
</div>
<div class="modal-body">
<div class="control-group has-error">
  <label for="description">Description:</label>
  <label class="control-label" for="description">Please enter a description</label>
  <input type="text" class="form-control" id="description">
</div>
<div class="control-group has-error">
  <label for="dueDate">Description:</label>
  <label class="control-label" for="dueDate">Please select a date</label>
  <!-- <input type="text" class="form-control" id="description"> -->
  <p class="input-group">
      <input type="text" 
        name="dueDate"
        class="form-control" 
        datepicker-popup="{{newTodo.cal.format}}"
        ng-model="newTodo.cal.current"
        is-open="newTodo.cal.opened"
        min-date="newTodo.cal.today"
        datepicker-options="newTodo.cal.options"
        ng-required="true"
        close-text="Close"
        format="MM dd yyyy" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="newTodo.cal.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
</div>
<form novalidate name="myForm">
<!-- {{myForm.description.$invalid}}
{{myForm.description.$dirty}} -->
<!--   <div class="control-group"
       ng-class="{error: myForm.description.$invalid && myForm.description.$dirty}">
      <div class="controls">
          <input name="description" type="text" placeholder="description" required 
                 ng-model="newTodo.description" />  
          <span class="help-inline" 
                ng-show="loginForm.description.$error.required">Required</span>
      </div>
  </div> -->
<!--   <h5>Due:</h5>
    <p class="input-group">
      <input type="text" 
        class="form-control" 
        datepicker-popup="{{newTodo.cal.format}}"
        ng-model="newTodo.cal.current"
        is-open="newTodo.cal.opened"
        min-date="newTodo.cal.today"
        datepicker-options="newTodo.cal.options"
        ng-required="true"
        close-text="Close"
        format="MM dd yyyy" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="newTodo.cal.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p> -->
  </div>
</form>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="newTodo.ok()">OK</button>
    <button class="btn btn-warning" ng-click="newTodo.cancel()">Cancel</button>
</div>