<div class="todoItem itemContainer" ng-click="itemSelected" ng-class="{completed : isComplete}">
  <span class="col-md-1">
     <button class="multiSel" type="button" 
     ng-click="toggleChecked()" 
     ng-class="{selected : isChecked}" ></button>
  </span>
  <span class="col-md-2">
    <button type="button" class="completeButton" ng-click="toggleCompleted()">
      <i class="glyphicon glyphicon-ok"></i>
    </button>
  </span>
  <span class="col-md-8 content" ng-click="onEdit()">
    <span class="dueDate"> {{todoData.DueDate | date : 'shortDate' }}</span>
    <span class="description">
      <span id="completedDisplay" ng-show="isComplete" >Completed!</span> 
      {{todoData.Description}}
    </span>
  </span>
  <span>
   <button type="button" class="delete" ng-click="onDelete()">
      <i class="glyphicon glyphicon-trash"></i>
    </button>
  </span>
</div>
